<h1>Movie search</h1>

<%= form_with method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>


<% if @response['Error'] == 'Movie not found!' %>
  <div>
    Could not find the movie inside the database!
  </div>
<% end %>
